{% comment %}
    Render Countdown timer

    Accepts:
      - day_starts:   {String}
      - hours_starts: {String}
{% endcomment %}

<div class="countdown-timer{% if section.settings.animation_on_reveal %} reveal-slide-in{% endif -%}">
    <div class="wrapper dynamic-page-width">
        <div class="heading">
            {% unless section.settings.title == blank %}
                <{{ section.settings.heading_size }} class="title reveal-item">
                    {{ section.settings.title }}
                </{{ section.settings.heading_size }}>
            {% endunless %}
            {% unless section.settings.sub_title == blank %}
                <span class="sub_title reveal-item">{{ section.settings.sub_title }}</span>
            {% endunless %}
        </div>
        <countdown-timer>
            <div class="timer" id="timer" data-day-starts="{{ day_starts }}" data-hours-start="{{ hours_starts }}">
                <div class="reveal-item">
                    <span class="days item">00</span>
                    <span class="label">{{ 'sections.countdown.days' | t }}</span>
                </div>
                <div class="reveal-item">
                    <span class="hours item">00</span>
                    <span class="label">{{ 'sections.countdown.hours' | t }}</span>
                </div>
                <div class="reveal-item">
                    <span class="minutes item">00</span>
                    <span class="label">{{ 'sections.countdown.minutes' | t }}</span>
                </div>
                <div class="reveal-item">
                    <span class="seconds item">00</span>
                    <span class="label">{{ 'sections.countdown.seconds' | t }}</span>
                </div>
            </div>
        </countdown-timer>
    </div>
</div>

{% render 'initialize-deferred-scripts', init_countdown_timer: true %}
