{% if settings.social_twitter_link != blank %}
    <a
        href="{{ settings.social_twitter_link }}"
        title="{{ 'general.social.titles.twitter' | t }}"
        aria-label="twitter"
        target="_blank"
    >
        <i class="icon" aria-hidden="true" focusable="false" role="presentation">
            {% render 'icons-ion', name: 'logo-twitter' %}
        </i>
    </a>
{% endif %}
{% if settings.social_facebook_link != blank %}
    <a
        href="{{ settings.social_facebook_link }}"
        title="{{ 'general.social.titles.facebook' | t }}"
        aria-label="facebook"
        target="_blank"
    >
        <i class="icon" aria-hidden="true" focusable="false" role="presentation">
            {% render 'icons-ion', name: 'logo-facebook' %}
        </i>
    </a>
{% endif %}
{% if settings.social_pinterest_link != blank %}
    <a
        href="{{ settings.social_pinterest_link }}"
        title="{{ 'general.social.titles.pinterest' | t }}"
        aria-label="pinterest"
        target="_blank"
    >
        <i class="icon" aria-hidden="true" focusable="false" role="presentation">
            {% render 'icons-ion', name: 'logo-pinterest' %}
        </i>
    </a>
{% endif %}
{% if settings.social_instagram_link != blank %}
    <a
        href="{{ settings.social_instagram_link }}"
        title="{{ 'general.social.titles.instagram' | t }}"
        aria-label="instagram"
        target="_blank"
    >
        <i class="icon" aria-hidden="true" focusable="false" role="presentation">
            {% render 'icons-ion', name: 'logo-instagram' %}
        </i>
    </a>
{% endif %}
{% if settings.social_tiktok_link != blank %}
    <a
        href="{{ settings.social_tiktok_link }}"
        title="{{ 'general.social.titles.tiktok' | t }}"
        aria-label="tiktok"
        target="_blank"
    >
        <i class="icon" aria-hidden="true" focusable="false" role="presentation">
            {% render 'icons-ion', name: 'logo-tiktok' %}
        </i>
    </a>
{% endif %}
{% if settings.social_tumblr_link != blank %}
    <a
        href="{{ settings.social_tumblr_link }}"
        title="{{ 'general.social.titles.tumblr' | t }}"
        aria-label="tumblr"
        target="_blank"
    >
        <i class="icon" aria-hidden="true" focusable="false" role="presentation">
            {% render 'icons-ion', name: 'logo-tumblr' %}
        </i>
    </a>
{% endif %}
{% if settings.social_snapchat_link != blank %}
    <a
        href="{{ settings.social_snapchat_link }}"
        title="{{ 'general.social.titles.snapchat' | t }}"
        aria-label="snapchat"
        target="_blank"
    >
        <i class="icon" aria-hidden="true" focusable="false" role="presentation">
            {% render 'icons-ion', name: 'logo-snapchat' %}
        </i>
    </a>
{% endif %}
{% if settings.social_youtube_link != blank %}
    <a
        href="{{ settings.social_youtube_link }}"
        title="{{ 'general.social.titles.youtube' | t }}"
        aria-label="youtube"
        target="_blank"
    >
        <i class="icon" aria-hidden="true" focusable="false" role="presentation">
            {% render 'icons-ion', name: 'logo-youtube' %}
        </i>
    </a>
{% endif %}
{% if settings.social_vimeo_link != blank %}
    <a
        href="{{ settings.social_vimeo_link }}"
        title="{{ 'general.social.titles.vimeo' | t }}"
        aria-label="vimeo"
        target="_blank"
    >
        <i class="icon" aria-hidden="true" focusable="false" role="presentation">
            {% render 'icons-ion', name: 'logo-vimeo' %}
        </i>
    </a>
{% endif -%}
{%- if settings.social_linkedin_link != blank %}
    <a
        href="{{ settings.social_linkedin_link }}"
        title="{{ 'general.social.titles.linkedin' | t }}"
        aria-label="linkedin"
        target="_blank"
    >
        <i class="icon" aria-hidden="true" focusable="false" role="presentation">
            {% render 'icons-ion', name: 'logo-linkedin' %}
        </i>
    </a>
{% endif %}
