{{ 'section-comparison-slider.css' | asset_url | stylesheet_tag }}

{%- liquid
    case section.settings.image_height
        when 'small'
            assign padding_bottom = '14rem'
            assign padding_bottom_md = '26rem'
        when 'medium'
            assign padding_bottom = '20rem'
            assign padding_bottom_md = '34rem'
        when 'large'
            assign padding_bottom = '28rem'
            assign padding_bottom_md = '44rem'
    endcase

    assign sizes = 'calc(min(100vw, 1200px) - .75rem * 2)'
    assign widths = '698,966,1176,#iw#'
    assign titlePosition = 'center'
-%}
{% style %}
    #shopify-section-{{ section.id }} .heading.position_{{ titlePosition }} {
        align-items: {{ titlePosition }};
    }
{% endstyle %}

{% style %}
    #shopify-section-{{ section.id }} .image-comparison__slider-wrapper {
        position: relative;
        display: grid;
        overflow-x: hidden;
    }

    #shopify-section-{{ section.id }} comparison-slider .media {
        padding-bottom: {{ padding_bottom_md }};
        background: #ffffff;
    }

    #shopify-section-{{ section.id }} .image-comparison__slider-wrapper > * {
        grid-area: 1 / -1;
    }

    #shopify-section-{{ section.id }} comparison-slider .image-comparison__image-wrapper[data-image-overlay] {
        --cursor-position: 50%;
        clip-path: inset(0 0 0 var(--cursor-position, 0%));
        z-index: 1;
    }

    #shopify-section-{{ section.id }} .description {
        background: {{ section.settings.description_bg_color }};
    }

    #shopify-section-{{ section.id }} .product-title {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        word-break: break-word;
        text-transform: capitalize;
        font-weight: bold;
    }

    #shopify-section-{{ section.id }} .content-mobile-wrapper .description {
        padding: 2rem 1rem;
    }

    @media (max-width: 989px), print {
        #shopify-section-{{ section.id }} .image-comparison__image-wrapper > .description,
        #shopify-section-{{ section.id }} .content-mobile-wrapper .button > svg {
            display: none;
        }

        #shopify-section-{{ section.id }} .content-mobile-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        #shopify-section-{{ section.id }} .content-mobile-wrapper .description {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 50%;
            background: {{ section.settings.bg_color_1 }};
        }

        #shopify-section-{{ section.id }} .content-mobile-wrapper .description--before:after {
            content: '';
            position: absolute;
            display: block;
            width: 4px;
            height: 100%;
            right: -0.25rem;
            top: 0;
            background: var(--color-background);
            z-index: 1;
        }

        #shopify-section-{{ section.id }} .content-mobile-wrapper .button {
            background: transparent;
            border-color: transparent;
            padding: 0;
            justify-content: flex-start;
            text-decoration: underline;
            color: var(--color-foreground);
            font-size: .875rem;
        }

        #shopify-section-{{ section.id }} .content-mobile-wrapper .description:last-child {
            text-align: right;
        }

        #shopify-section-{{ section.id }} .content-mobile-wrapper .description:last-child .button {
            justify-content: end;
        }
    }

    @media (min-width: 767px), print {
        #shopify-section-{{ section.id }} .content-mobile-wrapper .description {
            padding: 2rem;
        }
    }

    @media (min-width: 990px), print {
        #shopify-section-{{ section.id }} .description {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.5rem;
            position: absolute;
            max-width: calc(20% + 4rem);
            padding: 1.5rem;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 2.5rem;
            z-index: 1;
        }

        #shopify-section-{{ section.id }} .description--after {
            right: 0;
        }

        #shopify-section-{{ section.id }} .content-mobile-wrapper {
            display: none;
        }
    }

    @media (min-width: 1400px), print {
        #shopify-section-{{ section.id }} .description {
            padding: 2rem;
        }
    }
{% endstyle %}

<div class="comparison-slider{% if section.settings.heading == blank %} no-heading{% endif %}{% if section.settings.animation_on_reveal %} reveal-slide-in{% endif -%}">
    <div class="dynamic-page-width">
        {% unless section.settings.heading == blank %}
            <div class="heading position_{{ titlePosition }}">
                <{{ section.settings.heading_size }} class="title reveal-item">
                    {{ section.settings.heading }}
                </{{ section.settings.heading_size }}>
            </div>
        {% endunless %}

        <div class="comparison-wrapper">
            <comparison-slider class="image-comparison" data-component="image-comparison-slider">
                <div class="image-comparison__slider-wrapper">
                    <label for="comparison-range" class="comparison-label" hidden>
                        {{ 'sections.comparison-slider.range_label' | t }}
                    </label>
                    <input
                        type="range"
                        min="0"
                        max="100"
                        value="50"
                        class="comparison-range"
                        id="comparison-range"
                        aria-label="{{ 'sections.comparison-slider.range_label' | t }}"
                    >
                    <div class="image-comparison__image-wrapper">
                        <div class="description description--before">
                            <div class="product-title h5 reveal-item">
                                {{ section.settings.product_1.title | default: 'Product name' }}
                            </div>
                            <a
                                class="comparison-slider__action button button--primary animate-arrow reveal-item"
                                href="{{ section.settings.product_1.url | default: "#/" }}"
                                title="{{ section.settings.product_1.title | default: "Product name" }}"
                            >
                                {{ 'view_all_link.view_product' | t }}
                                {% render 'icons-solid', name: 'long-arrow-right', css_class: 'icon-arrow extend' %}
                            </a>
                        </div>

                        <div class="image-media media-half image-comparison__figure--overlay">
                            <div class="media">
                                {% if section.settings.use_original_product_image %}
                                    {% assign product_1_image = section.settings.product_1.featured_media.preview_image %}
                                    {% if product_1_image != blank %}
                                        {% render 'render-image',
                                            image: product_1_image,
                                            width: product_1_image.width,
                                            widths: widths,
                                            sizes: sizes,
                                            is_preload: section.settings.is_preload
                                        %}
                                    {% else %}
                                        {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                    {% endif -%}
                                {% endif %}

                                {% comment %}external source image{% endcomment %}

                                {% unless section.settings.use_original_product_image %}
                                    {%- if section.settings.image != blank %}
                                        {% render 'render-image',
                                            image: section.settings.image,
                                            width: section.settings.image.width,
                                            widths: widths,
                                            sizes: sizes,
                                            is_preload: section.settings.is_preload
                                        %}
                                    {% else %}
                                        {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                    {% endif -%}
                                {% endunless %}
                            </div>
                        </div>
                    </div>

                    <div class="comparison-slider__icon-wrapper" data-comparison-slider>
                        <span class="slider-toggler">
                            {%- render 'theme-icons', name: 'slider-toggler' -%}
                        </span>
                    </div>

                    <div class="image-comparison__image-wrapper" data-image-overlay>
                        <div class="image-media media-half">
                            <div class="media">
                                {% if section.settings.use_original_product_image %}
                                    {% assign product_2_image = section.settings.product_2.featured_media.preview_image %}
                                    {% if product_2_image != blank %}
                                        {% render 'render-image',
                                            image: product_2_image,
                                            width: product_2_image.width,
                                            widths: widths,
                                            sizes: sizes,
                                            is_preload: section.settings.is_preload
                                        %}
                                    {% else %}
                                        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder' }}
                                    {% endif -%}
                                {% endif %}

                                {% comment %}external source image{% endcomment %}

                                {% unless section.settings.use_original_product_image %}
                                    {%- if section.settings.image_2 != blank %}
                                        {% render 'render-image',
                                            image: section.settings.image_2,
                                            width: section.settings.image_2.width,
                                            widths: widths,
                                            sizes: sizes,
                                            is_preload: section.settings.is_preload
                                        %}
                                    {% else %}
                                        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder' }}
                                    {% endif -%}
                                {% endunless %}
                            </div>
                        </div>

                        <div class="description description--after">
                            <div class="product-title h5 reveal-item">
                                {{ section.settings.product_2.title | default: 'Product Name' }}
                            </div>
                            <a
                                class="comparison-slider__action button button--primary animate-arrow reveal-item"
                                href="{{ section.settings.product_2.url | default: "#/" }}"
                                title="{{ section.settings.product_2.title | default: "Product Name" }}"
                            >
                                {{ 'view_all_link.view_product' | t }}
                                {% render 'icons-solid', name: 'long-arrow-right', css_class: 'icon-arrow extend' %}
                            </a>
                        </div>
                    </div>
                </div>
            </comparison-slider>

            <div class="content-mobile-wrapper">
                <div class="description description--before">
                    <div class="product-title reveal-item">
                        {{ section.settings.product_1.title | default: 'Product Name' }}
                    </div>
                    <a
                        class="comparison-slider__action button button--primary animate-arrow reveal-item"
                        href="{{ section.settings.product_1.url | default: "#/" }}"
                        title="{{ section.settings.product_1.title | default: "Product Name" }}"
                    >
                        {{ 'view_all_link.view_product' | t }}
                        {% render 'icons-solid', name: 'long-arrow-right', css_class: 'icon-arrow extend' %}
                    </a>
                </div>

                <div class="description description--after">
                    <div class="product-title reveal-item">
                        {{ section.settings.product_2.title | default: 'Product Name' }}
                    </div>
                    <a
                        class="comparison-slider__action button button--primary animate-arrow reveal-item"
                        href="{{ section.settings.product_2.url | default: "#/" }}"
                        title="{{ section.settings.product_2.title | default: "Product Name" }}"
                    >
                        {{ 'view_all_link.view_product' | t }}
                        {% render 'icons-solid', name: 'long-arrow-right', css_class: 'icon-arrow extend' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% render 'initialize-deferred-scripts', init_comparison_slider: true %}

{% schema %}
{
  "name": "t:sections.comparison-slider.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Compare products color",
      "label": "t:sections.comparison-slider.settings.heading.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h1",
          "label": "t:sections.comparison-slider.settings.heading_size.options.h1"
        },
        {
          "value": "h2",
          "label": "t:sections.comparison-slider.settings.heading_size.options.h2"
        },
        {
          "value": "h3",
          "label": "t:sections.comparison-slider.settings.heading_size.options.h3"
        }
      ],
      "default": "h2",
      "label": "t:sections.comparison-slider.settings.heading_size.label"
    },
    {
      "type": "product",
      "id": "product_1",
      "label": "t:sections.comparison-slider.settings.product_1.label"
    },
    {
      "type": "product",
      "id": "product_2",
      "label": "t:sections.comparison-slider.settings.product_2.label"
    },
    {
      "type": "checkbox",
      "id": "use_original_product_image",
      "label": "t:sections.comparison-slider.settings.use_original_product_image.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.comparison-slider.settings.header_0.content"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.comparison-slider.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.comparison-slider.settings.image_2.label"
    },
    {
      "type": "checkbox",
      "id": "is_preload",
      "default": false,
      "label": "t:sections.comparison-slider.settings.is_preload.label",
      "info": "t:sections.comparison-slider.settings.is_preload.info"
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "small",
          "label": "t:sections.comparison-slider.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.comparison-slider.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.comparison-slider.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.comparison-slider.settings.image_height.label",
      "info": "t:sections.comparison-slider.settings.image_height.info"
    },
    {
      "type": "checkbox",
      "id": "animation_on_reveal",
      "label": "t:sections.all.settings.animation_on_reveal.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.comparison-slider.settings.header_1.content"
    },
    {
      "type": "color",
      "id": "bg_color_1",
      "label": "t:sections.comparison-slider.settings.bg_color_1.label",
      "info": "t:sections.comparison-slider.settings.bg_color_1.info",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "description_bg_color",
      "label": "t:sections.comparison-slider.settings.description_bg_color.label",
      "default": "#ffffff"
    }
  ],
  "presets": [
    {
      "name":  "t:sections.comparison-slider.name"
    }
  ]
}
{% endschema %}
