{%- liquid
    assign __class__ = 'footer-bottom'

    if section.settings.full_width
        assign __class__ = __class__ | append: ' full--width'
    else
        assign __class__ = __class__ | append: ' custom--width'
    endif

    if section.settings.show_policy == false
        assign __class__ = __class__ | append: ' no-policy'
    endif

    if settings.animation_on_reveal
        assign __class__ = __class__ | append: ' reveal-slide-in'
    endif
-%}
{% style %}
    .footer-bottom.custom--width {
        max-width: {{ section.settings.custom_layout_width }}px;
        margin: 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    @media (min-width: 990px) {
        {% if shop.features.follow_on_shop? and section.settings.follow_on_shop %}
        .footer-bottom {
            grid-template-areas: 'payment follow_on_shop links'
                                 'policies policies policies'
                                 'copyright copyright copyright';
        }

        .footer-bottom.no-policy {
            grid-template-areas: 'payment follow_on_shop links'
                                 'copyright copyright copyright';
        }{% else %}

        .footer-bottom {
            grid-template-areas: 'payment copyright links'
                                 'policies policies policies'
                                 'follow_on_shop follow_on_shop follow_on_shop';
        }

        .footer-bottom.no-policy {
            grid-template-areas: 'payment copyright links'
                                 'follow_on_shop follow_on_shop follow_on_shop';
        }{% endif %}
    }
{% endstyle %}
<div class="{{ __class__ }}">
    {%- if shop.features.follow_on_shop? and section.settings.follow_on_shop -%}
        <div class="footer__follow-on-shop">
            {% # theme-check-disable %}
            {{ shop | login_button: action: 'follow' }}
            {% # theme-check-enable %}
        </div>
    {%- endif -%}
    {%- for block in section.blocks -%}
        {%- case block.type -%}
            {% when 'copyright' %}
                <div class="_copyright reveal-item" {{ block.shopify_attributes }}>
                    <p class="copyright__content">{{ block.settings.text | escape }}</p>
                </div>
            {% when 'menu' %}
                <div class="_menu reveal-item" {{ block.shopify_attributes }}>
                    <ul>
                        {% for link in linklists[block.settings.menu].links %}
                            <li>
                                <a href="{{ link.url }}">{{ link.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
        {%- endcase -%}
    {%- endfor -%}
    {%- if section.settings.show_policy -%}
        <div class="_policies reveal-item">
            <ul class="policies list-unstyled">
                {%- for policy in shop.policies -%}
                    {%- if policy != blank -%}
                        <li>
                            {%- if forloop.index > 1 -%}
                                <span class="separator"></span>
                            {%- endif -%}
                            <small>
                                <a href="{{ policy.url }}">{{ policy.title }}</a>
                            </small>
                        </li>
                    {%- endif -%}
                {%- endfor -%}
            </ul>
        </div>
    {%- endif -%}
    {%- if section.settings.payment_enable -%}
        <div class="footer__payment reveal-item">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul
                class="list-payment"
                role="list"
                style="--footer__payment-icon-saturate: {{ section.settings.payment_icons_saturate | divided_by: 100.0 }}"
            >
                {% if section.settings.custom_payment_icon != blank %}
                    {% assign icons = section.settings.custom_payment_icon | split: ',' %}
                    {% for icon in icons %}
                        {% assign isImage = images[icon] %}
                        {% if isImage != empty %}
                            <li class="list-payment__item">
                                {{
                                    images[icon]
                                    | image_url: width: section.settings.control_icon_width
                                    | image_tag: class: ''
                                }}
                            </li>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {%- for type in shop.enabled_payment_types -%}
                        <li class="list-payment__item">
                            {{ type | payment_type_svg_tag: class: 'icon' }}
                        </li>
                    {%- endfor -%}
                {% endif %}
            </ul>
        </div>
    {%- endif -%}
</div>

{% schema %}
{
    "name": "t:sections.footer_bottom.name",
    "class": "footer-bottom-section",
    "max_blocks": 2,
    "settings": [
        {
            "type": "checkbox",
            "id": "full_width",
            "default": false,
            "label": "t:sections.footer.settings.full_width.label"
        },
        {
            "type": "range",
            "id": "custom_layout_width",
            "label": "t:sections.footer.settings.custom_layout_width.label",
            "unit": "px",
            "min": 980,
            "max": 1440,
            "step": 20,
            "default": 1440
        },
        {
            "type": "checkbox",
            "id": "payment_enable",
            "default": true,
            "label": "t:sections.footer.settings.payment_enable.label"
        },
        {
            "type": "range",
            "id": "payment_icons_saturate",
            "min": 0,
            "max": 100,
            "step": 5,
            "default": 100,
            "unit": "%",
            "label": "t:sections.footer.settings.payment_icons_saturate.label"
        },
        {
            "type": "text",
            "id": "custom_payment_icon",
            "label": "t:sections.footer.settings.custom_payment_icon.label",
            "info": "t:sections.footer.settings.custom_payment_icon.info"
        },
        {
            "type": "range",
            "id": "control_icon_width",
            "min": 30,
            "max": 120,
            "step": 10,
            "default": 60,
            "unit": "px",
            "label": "t:sections.footer.settings.control_icon_width.label"
        },
        {
            "type": "checkbox",
            "id": "follow_on_shop",
            "label": "t:sections.footer.settings.follow_on_shop.label",
            "info": "t:sections.footer.settings.follow_on_shop.info",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_policy",
            "label": "t:sections.footer.settings.show_policy.label",
            "info": "t:sections.footer.settings.show_policy.info",
            "default": false
        }
    ],
    "blocks": [
        {
            "type": "menu",
            "name": "t:sections.footer_bottom.blocks.menu.name",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "t:sections.footer_bottom.blocks.menu.settings.title.label"
                },
                {
                    "type": "link_list",
                    "id": "menu",
                    "default": "footer",
                    "label": "t:sections.footer_bottom.blocks.menu.settings.menu.label"
                }
            ]
        },
        {
            "type": "copyright",
            "name": "t:sections.footer_bottom.blocks.copyright.name",
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "label": "t:sections.footer_bottom.blocks.copyright.settings.text.label"
                }
            ]
        }
    ],
    "presets": [
        {
          "name": "t:sections.footer_bottom.presets.name"
        }
    ],
    "enabled_on": {
        "groups": ["footer"]
    }
}
{% endschema %}
