{{ 'section-video.css' | asset_url | stylesheet_tag }}
{{ 'component-deferred-media.css' | asset_url | stylesheet_tag }}

{%- liquid
    assign video_id = section.settings.video_url.id
    assign video_alt = section.settings.video.alt | default: section.settings.description
    assign alt = 'sections.video.load_video' | t: description: video_alt | escape
    assign poster = section.settings.video.preview_image | default: section.settings.cover_image

    if section.settings.video != null
        assign ratio_diff = section.settings.video.aspect_ratio | minus: poster.aspect_ratio | abs
        if ratio_diff < 0.01 and ratio_diff > 0
            assign fix_ratio = true
        endif
    endif

    assign media_condition = 'all'
    if section.settings.visibility == 'mobile'
        assign media_condition = '(max-width: 639px)'
    elsif section.settings.visibility == 'desktop'
        assign media_condition = '(min-width: 640px)'
    endif
-%}
{% style %}
    #shopify-section-{{ section.id }} {
        display: none;
    }
{% endstyle %}
<style media="{{ media_condition }}">
    #shopify-section-{{ section.id }} {
        display: block;
        padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
        {% unless section.settings.text_color == blank %}
        --color-foreground: {{ section.settings.text_color }};
        {% endunless %}
    }

    @media screen and (min-width: 750px) {
        #shopify-section-{{ section.id }} {
            padding-top: {{ section.settings.padding_top }}px;
            padding-bottom: {{ section.settings.padding_bottom }}px;
        }
        #shopify-section-{{ section.id }} .section-title {
            padding-bottom: {{ section.settings.padding_bottom | times: 2 }}px;
        }
    }
</style>

{%- capture sizes -%}
  {% if section.settings.full_width -%}
    100vw
  {%- else -%}
    (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px)
    calc(100vw - 10rem), 100vw
  {%- endif %}
{%- endcapture -%}

<div class="video-section isolate{% unless section.settings.full_width %} page-width{% endunless %} section-{{ section.id }} video-visibility--{{ section.settings.visibility }}">
    {%- if section.settings.video != blank -%}
        {% liquid
            if poster != null
                assign poster = poster | image_url
            endif
        %}
        <video
            style="width:100%"
            controls
            {% if section.settings.autoplay %}
                autoplay="true" muted="true" preload="metadata" playsinline="playsinline"
            {% else %}
                poster="{{ poster }}"
            {% endif -%}
            {% if section.settings.enable_video_looping %}
                loop
            {% endif %}
        >
            <source src="{{ section.settings.video | file_url }}" type="video/mp4">
            <span>{{ 'general.video.not_supported' | t }}</span>
        </video>
    {%- else -%}
        <deferred-media
            class="video-section__media deferred-media gradient global-media-settings{% if section.settings.full_width %} global-media-settings--full-width{% endif %}{% if fix_ratio %} media-fit-cover{% endif %}"
            data-media-id="{{ video_id }}"
            {% if poster != null %}
                style="--ratio-percent: {{ 1 | divided_by: poster.aspect_ratio | times: 100 }}%;"
            {% endif %}
        >
            <button
                id="Deferred-Poster-Modal-{{ video_id }}"
                class="video-section__poster media deferred-media__poster media--landscape"
                type="button"
                aria-label="{{ alt }}"
            >
                {%- if poster != null -%}
                    {{
                        poster
                        | image_url: width: 3840
                        | image_tag: sizes: sizes, widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840', alt: alt
                    }}
                {%- else -%}
                    {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                {%- endif -%}
                <span class="deferred-media__poster-button motion-reduce">
                    {%- render 'icon-play' -%}
                </span>
            </button>
            <template>
                {%- liquid
                    assign loop = ''
                    if section.settings.enable_video_looping
                        assign loop = '&loop=1&playlist=' | append: video_id
                    endif
                -%}
                {%- if section.settings.video_url.type == 'youtube' -%}
                    <iframe
                        src="https://www.youtube.com/embed/{{ video_id }}?enablejsapi=1&autoplay=1{{ loop }}"
                        class="js-youtube"
                        allow="autoplay; encrypted-media"
                        allowfullscreen
                        title="{{ section.settings.description | escape }}"
                    ></iframe>
                {%- else -%}
                    <iframe
                        src="https://player.vimeo.com/video/{{ video_id }}?autoplay=1{{ loop }}"
                        class="js-vimeo"
                        allow="autoplay; encrypted-media"
                        allowfullscreen
                        title="{{ section.settings.description | escape }}"
                    ></iframe>
                {%- endif -%}
            </template>
        </deferred-media>
    {%- endif -%}
    <div class="section-title{% if section.settings.full_width %} page-width{% endif %}{% if settings.animation_on_reveal %} reveal-slide-in{% endif %}">
        {%- unless section.settings.heading == blank -%}
            <div
                class="title-wrapper"
                {% if poster == null %}
                    style="background: var(--color-foreground-05)"
                {% endif %}
            >
                <h2 class="title inline-richtext reveal-item">
                    {{ section.settings.heading }}
                </h2>
                {%- unless section.settings.subtitle == blank -%}
                    <p class="subtitle inline-richtext reveal-item">{{ section.settings.subtitle }}</p>
                {%- endunless -%}
            </div>
        {%- endunless -%}
    </div>
</div>

{% schema %}
{
    "name": "t:sections.video.name",
    "tag": "section",
    "class": "spaced-section",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "settings": [
        {
            "type": "inline_richtext",
            "id": "heading",
            "default": "<b>Video heading</b>",
            "label": "t:sections.video.settings.heading.label"
        },
        {
            "type": "inline_richtext",
            "id": "subtitle",
            "default": "Give customers details about the video",
            "label": "t:sections.video.settings.subtitle.label"
        },
        {
            "type": "select",
            "id": "visibility",
            "label": "t:sections.video.settings.visibility.label",
            "options": [
                {
                    "value": "always",
                    "label": "t:sections.video.settings.visibility.options.always"
                },
                {
                    "value": "mobile",
                    "label": "t:sections.video.settings.visibility.options.mobile"
                },
                {
                    "value": "desktop",
                    "label": "t:sections.video.settings.visibility.options.desktop"
                }
            ],
            "default": "always"
        },
        {
            "type": "checkbox",
            "id": "enable_video_looping",
            "label": "t:sections.video.settings.enable_video_looping.label",
            "default": true
        },
        {
            "type": "header",
            "content": "t:sections.video.settings.header__1.content"
        },
        {
            "type": "text",
            "id": "video",
            "label": "t:sections.video.settings.video.label",
            "info": "t:sections.video.settings.video.info"
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "t:sections.video.settings.autoplay.label",
            "default": true
        },
        {
            "type": "header",
            "content": "t:sections.video.settings.header__2.content"
        },
        {
            "type": "paragraph",
            "content": "t:sections.video.settings.paragraph.content"
        },
        {
            "type": "video_url",
            "id": "video_url",
            "accept": ["youtube", "vimeo"],
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
            "label": "t:sections.video.settings.video_url.label",
            "info": "t:sections.video.settings.video_url.info"
        },
        {
            "type": "image_picker",
            "id": "cover_image",
            "label": "t:sections.video.settings.cover_image.label"
        },
        {
            "type": "text",
            "id": "description",
            "label": "t:sections.video.settings.description.label",
            "info": "t:sections.video.settings.description.info"
        },
        {
            "type": "header",
            "content": "t:sections.video.settings.header__3.content"
        },
        {
            "type": "checkbox",
            "id": "full_width",
            "label": "t:sections.video.settings.full_width.label",
            "default": true
        },
        {
            "type": "color",
            "id": "text_color",
            "default": "#ffffff",
            "label": "t:sections.video.settings.text_color.label"
        },
        {
            "type": "header",
            "content": "t:sections.all.padding.section_padding_heading"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 20
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 20
        }
    ],
    "presets": [
        {
            "name": "t:sections.video.presets.name"
        }
    ]
}
{% endschema %}
